In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
# importamos el df
amz_df = pd.read_csv(r'Datasets\amazon_prime_titles.csv')

In [3]:
amz_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [4]:
amz_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [5]:
# Borramos columnas que no vamos a usar en las consultas
amz_df.drop('date_added', axis=1, inplace=True) 
amz_df.drop('rating', axis=1, inplace=True)  
amz_df.drop('show_id', axis=1, inplace=True) 
amz_df.drop('director', axis=1, inplace=True) 
amz_df.drop('country', axis=1, inplace=True) 
amz_df.drop('description', axis=1, inplace=True)

In [6]:
amz_df.head()

,type,title,cast,release_year,duration,listed_in
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama"
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International"
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense"
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy"

In [7]:
# Renombro la columna listed_in a genero
amz_df.rename(columns={'listed_in':'genero'}, inplace=True)

In [8]:
amz_df.head()

,type,title,cast,release_year,duration,genero
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama"
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International"
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense"
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy"

In [9]:
# reemplazo los valores nulos con 'sin dato'
amz_df.fillna(value = 'sin dato', inplace = True)

In [10]:
# creo una nueva columna de plataforma
amz_df['plataforma'] = 'amazon'

In [11]:
amz_df.head(50)

,type,title,cast,release_year,duration,genero,plataforma
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",amazon
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",amazon
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",amazon
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,amazon
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",amazon
5,Movie,Living With Dinosaurs,"Gregory Chisholm, Juliet Stevenson, Brian Hens...",1989,52 min,"Fantasy, Kids",amazon
6,Movie,Hired Gun,"Alice Cooper, Liberty DeVitto, Ray Parker Jr.,...",2017,98 min,"Documentary, Special Interest",amazon
7,Movie,Grease Live!,"Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",2016,131 min,Comedy,amazon
8,Movie,Global Meltdown,"Michael Paré, Leanne Khol Young, Patrick J. Ma...",2017,87 min,"Action, Science Fiction, Suspense",amazon
9,Movie,David's Mother,"Kirstie Alley, Sam Waterston, Stockard Channing",1994,92 min,Drama,amazon
10,Movie,Forest Fairies,"Emily Wilder, Adrian Cowan, Gary Mckenzie, Jer...",2016,88 min,"Adventure, Kids",amazon
11,Movie,Take Care,"Leslie Bibb, Kevin Curtis, Nadia Dajani",2014,93 min,Comedy,amazon
12,Movie,The Night Eats The World,"Anders Danielsen Lie, Golshifteh Farahani, Den...",2018,94 min,"Horror, Suspense",amazon
13,Movie,Resilencia,"Rafinha Alcantara, Marc-André Ter Stegen, Serg...",2020,46 min,"Documentary, Sports",amazon
14,Movie,Elon Musk: The Real Life Iron Man,"Elon Musk, Per Wimmer, Julie Anderson-Ankenbra...",2018,74 min,Documentary,amazon
15,Movie,Summer '03,"Joey King, Jack Kilmer, Andrea Savage, Paul Sc...",2019,96 min,"Comedy, Drama",amazon
16,Movie,Zoombies,"Marcus Anderson, Kaiwi Lyman, Andrew Asper",2016,87 min,"Horror, Science Fiction",amazon
17,TV Show,Zoo Babies,Narrator - Gillian Barlett,2008,1 Season,"Kids, Special Interest",amazon
18,TV Show,Zoë Coombs Marr: Bossy Bottom,Zoë Coombs Marr,2020,1 Season,"Comedy, Talk Show and Variety",amazon
19,Movie,Zoe,"Ewan McGregor, Léa Seydoux, Theo James, Mirand...",2018,104 min,Science Fiction,amazon
20,TV Show,Zoboomafoo,sin dato,2001,1 Season,Kids,amazon
21,TV Show,Zo Zo Zombie: Mini-Series,"Alex Cazares, Ben Diskin, Cristina Vee, Erika ...",2020,1 Season,"Action, Anime, Comedy",amazon
22,Movie,Zis Boom Bah,"Grace Hayes, Mary Healy",1941,62 min,"Arts, Entertainment, and Culture, Comedy, Drama",amazon
23,TV Show,ZeroZeroZero,"ANDREA RISEBOROUGH, HAROLD TORRES, CLAUDIA PIN...",2020,1 Season,TV Shows,amazon
24,Movie,Zandalee,"Nicolas Cage, Judge Reinhold, Erika Anderson, ...",1991,94 min,Drama,amazon
25,Movie,Zambezi: Force of Life,sin dato,2005,50 min,Documentary,amazon
26,TV Show,Zahara: The Return,"Natasha Heschélle, Curtis Morgan, Hannah Scott...",2020,1 Season,TV Shows,amazon
27,TV Show,Z: The Beginning of Everything,"Christina Ricci , David Hoflin",2017,1 Season,"Comedy, Drama",amazon
28,TV Show,Yu-Gi-Oh! Zexal,"Eli Jay, Marc Thompson, Sean Schemmel, Eileen ...",2015,3 Seasons,"Animation, Anime, Fantasy",amazon
29,TV Show,Yu-Gi-Oh! ARC-V,"Michael Liscio Jr., Emily Bauer",2018,3 Seasons,"Action, Adventure, Animation",amazon
30,TV Show,Yu-Gi-Oh! 5D's,"Gregory Abbey, Bella Hudson, Ed Paul",2011,2 Seasons,"Anime, Kids",amazon
31,TV Show,Your Bleeped Up Brain,"Dobrokhotova Ekaterina, Mike New",2013,1 Season,TV Shows,amazon
32,Movie,Young Lovers,"Sally Forrest, Keefe Brasselle, Hugh O'Brian, ...",1949,86 min,Drama,amazon
33,Movie,Young Love (at the Sun Factory),sin dato,2007,36 min,Music Videos and Concerts,amazon
34,Movie,Young Love (at Bowery Ballroom),sin dato,2007,37 min,Music Videos and Concerts,amazon
35,TV Show,Young Lions,"Alex Dimitriades, Alexandra Davies, Tom Long, ...",2002,1 Season,"Drama, Suspense",amazon
36,Movie,You're Not You,"Hilary Swank, Emmy Rossum, Josh Duhamel",2015,103 min,Drama,amazon
37,Movie,"You, Me and Him","David Tennant, Lucy Punch, Faye Marsay, Gemma ...",2017,98 min,"Comedy, Drama",amazon
38,Movie,Yoga with Sound Meditations,Ann-Marie Newland,2016,9 min,"Fitness, Special Interest",amazon
39,Movie,Yoga to Harness Your Chakra Energy,Caroline Shola Arewa,2014,18 min,"Faith and Spirituality, Special Interest",amazon
40,Movie,Yoga to Ease Flight Anxiety,Anne-Marie Newland,2016,14 min,"Fitness, Special Interest",amazon
41,Movie,Yoga to Break Any Habit,Dr Daniel J Nightingale,2014,20 min,Special Interest,amazon
42,TV Show,"Yoga Therapy For Back Pain, Neck Pain & Stress...",Lindsey Samper,2018,1 Season,Fitness,amazon
43,Movie,Yoga Savasana Relaxation,Anne-Marie Newland,2014,19 min,"Fitness, Special Interest",amazon
44,Movie,Yoga for Relaxation Anywhere,Anne-Marie Newland,2014,18 min,"Fitness, Special Interest",amazon
45,Movie,Yoga for Relaxation and Stress Relief Anywhere,Anne-Marie Newland,2014,20 min,"Fitness, Special Interest",amazon
46,Movie,Yoga for Relaxation and Stress Relief,Anne-Marie Newland,2014,20 min,Special Interest,amazon
47,Movie,Yoga for Mindfulness and Meditation,Anne-Marie Newland,2016,22 min,"Fitness, Special Interest",amazon
48,Movie,Yoga for Men's Health,Anne-Marie Newland,2016,60 min,"Fitness, Special Interest",amazon
49,Movie,Yoga for Breath Awareness,Anne-Marie Newland,2016,6 min,"Fitness, Special Interest",amazon

In [12]:
# importamos el df
dsy_df = pd.read_csv(r'Datasets\disney_plus_titles.csv')

In [13]:
dsy_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [14]:
dsy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [15]:
# Borramos columnas que no vamos a usar en las consultas
dsy_df.drop('date_added', axis=1, inplace=True)
dsy_df.drop('rating', axis=1, inplace=True) 
dsy_df.drop('show_id', axis=1, inplace=True) 
dsy_df.drop('director', axis=1, inplace=True)  
dsy_df.drop('country', axis=1, inplace=True)  
dsy_df.drop('description', axis=1, inplace=True)

In [16]:
dsy_df.head()

,type,title,cast,release_year,duration,listed_in
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Chris Diamantopoulos, Tony Anselmo, Tress MacN...",2016,23 min,"Animation, Family"
1,Movie,Ernest Saves Christmas,"Jim Varney, Noelle Parker, Douglas Seale",1988,91 min,Comedy
2,Movie,Ice Age: A Mammoth Christmas,"Raymond Albert Romano, John Leguizamo, Denis L...",2011,23 min,"Animation, Comedy, Family"
3,Movie,The Queen Family Singalong,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",2021,41 min,Musical
4,TV Show,The Beatles: Get Back,"John Lennon, Paul McCartney, George Harrison, ...",2021,1 Season,"Docuseries, Historical, Music"

In [17]:
 # Renombro la columna listed_in a genero
dsy_df.rename(columns={'listed_in':'genero'}, inplace=True)

In [18]:
dsy_df.head()

,type,title,cast,release_year,duration,genero
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Chris Diamantopoulos, Tony Anselmo, Tress MacN...",2016,23 min,"Animation, Family"
1,Movie,Ernest Saves Christmas,"Jim Varney, Noelle Parker, Douglas Seale",1988,91 min,Comedy
2,Movie,Ice Age: A Mammoth Christmas,"Raymond Albert Romano, John Leguizamo, Denis L...",2011,23 min,"Animation, Comedy, Family"
3,Movie,The Queen Family Singalong,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",2021,41 min,Musical
4,TV Show,The Beatles: Get Back,"John Lennon, Paul McCartney, George Harrison, ...",2021,1 Season,"Docuseries, Historical, Music"

In [19]:
# reemplazo los valores nulos con 'sin dato'# reemplazo los valores nulos con 'sin dato'
dsy_df.fillna(value = 'sin dato', inplace = True)

In [20]:
# creo una nueva columna de plataforma
dsy_df['plataforma'] = 'disney'

In [21]:
dsy_df.head()

,type,title,cast,release_year,duration,genero,plataforma
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Chris Diamantopoulos, Tony Anselmo, Tress MacN...",2016,23 min,"Animation, Family",disney
1,Movie,Ernest Saves Christmas,"Jim Varney, Noelle Parker, Douglas Seale",1988,91 min,Comedy,disney
2,Movie,Ice Age: A Mammoth Christmas,"Raymond Albert Romano, John Leguizamo, Denis L...",2011,23 min,"Animation, Comedy, Family",disney
3,Movie,The Queen Family Singalong,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",2021,41 min,Musical,disney
4,TV Show,The Beatles: Get Back,"John Lennon, Paul McCartney, George Harrison, ...",2021,1 Season,"Docuseries, Historical, Music",disney

In [22]:
# importamos el df
hulu_df = pd.read_csv(r'Datasets\hulu_titles.csv')

In [23]:
hulu_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [24]:
hulu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [25]:
# Cambio la columna cast de Float a String 
hulu_df['cast']= hulu_df['cast'].astype(str)

In [26]:
hulu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          3073 non-null   object
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: int64(1), object(11)
memory usage: 288.2+ KB

In [27]:
# Borramos columnas que no vamos a usar en las consultas
hulu_df.drop('date_added', axis=1, inplace=True) 
hulu_df.drop('rating', axis=1, inplace=True) 
hulu_df.drop('show_id', axis=1, inplace=True) 
hulu_df.drop('director', axis=1, inplace=True)  
hulu_df.drop('country', axis=1, inplace=True)
hulu_df.drop('description', axis=1, inplace=True)

In [28]:
hulu_df.head()

,type,title,cast,release_year,duration,listed_in
0,Movie,Ricky Velez: Here's Everything,nan,2021,NaN,"Comedy, Stand Up"
1,Movie,Silent Night,nan,2020,94 min,"Crime, Drama, Thriller"
2,Movie,The Marksman,nan,2021,108 min,"Action, Thriller"
3,Movie,Gaia,nan,2021,97 min,Horror
4,Movie,Settlers,nan,2021,104 min,"Science Fiction, Thriller"

In [29]:
# Renombro la columna listed_in a genero
hulu_df.rename(columns={'listed_in':'genero'}, inplace=True)

In [30]:
hulu_df.head()

,type,title,cast,release_year,duration,genero
0,Movie,Ricky Velez: Here's Everything,nan,2021,NaN,"Comedy, Stand Up"
1,Movie,Silent Night,nan,2020,94 min,"Crime, Drama, Thriller"
2,Movie,The Marksman,nan,2021,108 min,"Action, Thriller"
3,Movie,Gaia,nan,2021,97 min,Horror
4,Movie,Settlers,nan,2021,104 min,"Science Fiction, Thriller"

In [31]:
# en este caso esta escrito nan y no NaN por lo cual se reemplaza por 'sin dato'
hulu_df.cast.replace('nan', 'Sin dato', inplace=True)

In [32]:
hulu_df.head()

,type,title,cast,release_year,duration,genero
0,Movie,Ricky Velez: Here's Everything,Sin dato,2021,NaN,"Comedy, Stand Up"
1,Movie,Silent Night,Sin dato,2020,94 min,"Crime, Drama, Thriller"
2,Movie,The Marksman,Sin dato,2021,108 min,"Action, Thriller"
3,Movie,Gaia,Sin dato,2021,97 min,Horror
4,Movie,Settlers,Sin dato,2021,104 min,"Science Fiction, Thriller"

In [33]:
# reemplazo los valores nulos con 'sin dato'
hulu_df.fillna(value = 'sin dato', inplace = True)

In [34]:
hulu_df.head()

,type,title,cast,release_year,duration,genero
0,Movie,Ricky Velez: Here's Everything,Sin dato,2021,sin dato,"Comedy, Stand Up"
1,Movie,Silent Night,Sin dato,2020,94 min,"Crime, Drama, Thriller"
2,Movie,The Marksman,Sin dato,2021,108 min,"Action, Thriller"
3,Movie,Gaia,Sin dato,2021,97 min,Horror
4,Movie,Settlers,Sin dato,2021,104 min,"Science Fiction, Thriller"

In [35]:
# creo una nueva columna de plataforma
hulu_df['plataforma'] = 'hulu'

In [36]:
hulu_df.head()

,type,title,cast,release_year,duration,genero,plataforma
0,Movie,Ricky Velez: Here's Everything,Sin dato,2021,sin dato,"Comedy, Stand Up",hulu
1,Movie,Silent Night,Sin dato,2020,94 min,"Crime, Drama, Thriller",hulu
2,Movie,The Marksman,Sin dato,2021,108 min,"Action, Thriller",hulu
3,Movie,Gaia,Sin dato,2021,97 min,Horror,hulu
4,Movie,Settlers,Sin dato,2021,104 min,"Science Fiction, Thriller",hulu

In [37]:
# importamos el df
ntfx_df = pd.read_csv(r'Datasets\netflix_titles.csv')

In [38]:
ntfx_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [39]:
ntfx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [40]:
# Borramos columnas que no vamos a usar en las consultas
ntfx_df.drop('date_added', axis=1, inplace=True)
ntfx_df.drop('rating', axis=1, inplace=True) 
ntfx_df.drop('show_id', axis=1, inplace=True) 
ntfx_df.drop('director', axis=1, inplace=True)  
ntfx_df.drop('country', axis=1, inplace=True)  
ntfx_df.drop('description', axis=1, inplace=True)

In [41]:
ntfx_df.head()

,type,title,cast,release_year,duration,listed_in
0,Movie,Dick Johnson Is Dead,NaN,2020,90 min,Documentaries
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,TV Show,Jailbirds New Orleans,NaN,2021,1 Season,"Docuseries, Reality TV"
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [42]:
# Renombro la columna listed_in a genero
ntfx_df.rename(columns={'listed_in':'genero'}, inplace=True)

In [43]:
ntfx_df.head()

,type,title,cast,release_year,duration,genero
0,Movie,Dick Johnson Is Dead,NaN,2020,90 min,Documentaries
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,TV Show,Jailbirds New Orleans,NaN,2021,1 Season,"Docuseries, Reality TV"
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [44]:
# reemplazo los valores nulos con 'sin dato'
ntfx_df.fillna(value = 'sin dato', inplace = True)

In [45]:
ntfx_df.head()

,type,title,cast,release_year,duration,genero
0,Movie,Dick Johnson Is Dead,sin dato,2020,90 min,Documentaries
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,TV Show,Jailbirds New Orleans,sin dato,2021,1 Season,"Docuseries, Reality TV"
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [46]:
# creo una nueva columna de plataforma
ntfx_df['plataforma'] = 'netflix'

In [47]:
ntfx_df.head()

,type,title,cast,release_year,duration,genero,plataforma
0,Movie,Dick Johnson Is Dead,sin dato,2020,90 min,Documentaries,netflix
1,TV Show,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",netflix
2,TV Show,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",netflix
3,TV Show,Jailbirds New Orleans,sin dato,2021,1 Season,"Docuseries, Reality TV",netflix
4,TV Show,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",netflix

In [48]:
# Concateno los 4 datasets para formar uno sólo llamado streaming_df
streaming_df = pd.concat([amz_df,dsy_df,hulu_df,ntfx_df])
streaming_df = streaming_df.reset_index(drop=True)

In [49]:
# Separo los datos de la columna duration colocando en una columna el numero y en otra la metrica del dato, minutos o temporadas
streaming_df['duration_num']=streaming_df['duration'].map(lambda x:x.split(' ')[0])
streaming_df['duration_type']=streaming_df['duration'].map(lambda x:x.split(' ')[1])

In [50]:
streaming_df.head()

,type,title,cast,release_year,duration,genero,plataforma,duration_num,duration_type
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",amazon,113,min
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",amazon,110,min
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",amazon,74,min
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,amazon,69,min
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",amazon,45,min

In [51]:
# Agrego un indice a mi df
streaming_df['index'] = streaming_df.index + 1

In [52]:
streaming_df.head()

,type,title,cast,release_year,duration,genero,plataforma,duration_num,duration_type,index
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",amazon,113,min,1
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",amazon,110,min,2
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",amazon,74,min,3
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,amazon,69,min,4
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",amazon,45,min,5

In [53]:
# Reordeno mis columnas
streaming_df = streaming_df[['index','type','title','cast','genero','release_year','duration','duration_num','duration_type','plataforma']]

In [54]:
streaming_df.drop('duration', axis=1, inplace=True)

In [55]:
# Cuento el total de valores duplicados
streaming_df.duplicated().value_counts()

False    22998
dtype: int64

In [56]:
streaming_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          22998 non-null  int64
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   cast           22998 non-null  object
 4   genero         22998 non-null  object
 5   release_year   22998 non-null  int64
 6   duration_num   22998 non-null  object
 7   duration_type  22998 non-null  object
 8   plataforma     22998 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.6+ MB

In [57]:
# Creo un nuevo df con los datos de cast y de index
actors_df = streaming_df[['index', 'cast']]

In [58]:
# Separo los datos que se encuentran separados por coma 
actors_df['cast'] = actors_df['cast'].str.split(',')

C:\Users\Campuzano\AppData\Local\Temp\ipykernel_66260\3529600862.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actors_df['cast'] = actors_df['cast'].str.split(',')

In [59]:
# Organizo la columna y queda un actor por cada fila
actors_df = actors_df.explode('cast')

In [60]:
actors_df

       index                    cast
0          1         Brendan Gleeson
0          1           Taylor Kitsch
0          1          Gordon Pinsent
1          2        Mahesh Manjrekar
1          2           Abhay Mahajan
...      ...                     ...
22997  22998        Manish Chaudhary
22997  22998            Meghna Malik
22997  22998           Malkeet Rauni
22997  22998          Anita Shabdish
22997  22998   Chittaranjan Tripathy

[119713 rows x 2 columns]

In [61]:
# Creo un nuevo df con los datos de genero y de index
genero_df =  streaming_df[['index', 'genero']]

In [62]:
# Separo los datos que se encuentran separados por coma 
genero_df['genero'] = streaming_df['genero'].str.split(',')

C:\Users\Campuzano\AppData\Local\Temp\ipykernel_66260\993752968.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genero_df['genero'] = streaming_df['genero'].str.split(',')

In [63]:
# Organizo la columna y queda un genero de pelicula por cada fila
genero_df = genero_df.explode('genero')

In [64]:
genero_df

       index                    genero
0          1                    Comedy
0          1                     Drama
1          2                     Drama
1          2             International
2          3                    Action
...      ...                       ...
22996  22997  Children & Family Movies
22996  22997                  Comedies
22997  22998                    Dramas
22997  22998      International Movies
22997  22998          Music & Musicals

[48303 rows x 2 columns]

In [65]:
# Se quitan los espacios para poder reemplazar el dato con exito
genero_df['genero'] = genero_df['genero'].str.strip()

In [66]:
# Haciendo un tail encuentro que hay generos con nombres erroneos. Cambio comiedies por comedy
genero_df.replace({'Comedies':'Comedy'}, inplace=True)

In [72]:
genero_df

       index                    genero
0          1                    Comedy
0          1                     Drama
1          2                     Drama
1          2             International
2          3                    Action
...      ...                       ...
22996  22997  Children & Family Movies
22996  22997                    Comedy
22997  22998                    Dramas
22997  22998      International Movies
22997  22998          Music & Musicals

[48303 rows x 2 columns]

In [68]:
# Borro las columnas que saqué a parte cada una convertida en df
streaming_df.drop('cast', axis=1, inplace=True)
streaming_df.drop('genero', axis=1, inplace=True)

In [69]:
streaming_df.head()

,index,type,title,release_year,duration_num,duration_type,plataforma
0,1,Movie,The Grand Seduction,2014,113,min,amazon
1,2,Movie,Take Care Good Night,2018,110,min,amazon
2,3,Movie,Secrets of Deception,2017,74,min,amazon
3,4,Movie,Pink: Staying True,2014,69,min,amazon
4,5,Movie,Monster Maker,1989,45,min,amazon

In [75]:
engine = create_engine('mysql+pymysql://root:CMcrpb.12@localhost:3306/ETL01')

In [ ]:
streaming_df.to_sql('streaming',con=engine,index=False,if_exists='append')

In [77]:
actors_df.to_sql('actors',con=engine,index=False,if_exists='append')

119713

In [78]:
genero_df.to_sql('genero',con=engine,index=False,if_exists='append')

48303